<section class="active" id="login">
    <header>
        <!--<nav class="left">
            <a id="btn_scan_barcode" data-icon="qrcode" href=""></a>
        </nav>-->
        <h1 class="title">商家统计报表系统</h1>
        <nav class="right">
            <a data-target="section" data-icon="info" href="#about_section"></a>
        </nav>
    </header>
    <article data-scroll="true" class="active" id="form_article">
        <div class="indented">
            <form id="formLogin">
                <input type="text" placeholder="经销商ID" name="AccountID" id="input-id">
                <input type="text" placeholder="用户名" name="UserName" id="input-name">
                <input type="password" placeholder="密码" name="PassWord" id="input-pwd">
                <a class="button block" data-icon="cogs" id="btn-login">登录</a>
            </form>
        </div>
    </article>
</section>